
html, body, .container-fluid {
    height:100%;
    background-color: black;
}
nav{
    position: fixed !important;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
}

.container-fluid {
    box-sizing: border-box;
}

.modal-title{
    color: #e9ecef;
}

.modal-content{
    background-color: black;
}

.carousel-img{
    height: 250px;
    width: 250px;
    margin: 0 auto;
}
.carousel-caption{
    position: relative;
    right: 0;
    bottom: 0;
    left:0;
    padding-bottom: 40px;
}


#mainRow, #leftPanel, #rightPanel{
    height: 100%;
}

svg {
    height: 100%;
    width: 100%;
}

path.spiral {
    fill: none;
    stroke: #000000;
    stroke-width: 3px;
}

#teamName{
    position: absolute;
    left:10px;
    top:60px;
    background-color: yellow;
    width: 150px;
    height: 50px;
}


#teamSlider{
    height: 80%;
    margin-top: 10%;
    position: absolute;
    right: 5px;
}
#timeSlider{
    width: 80%;
    margin-left: 8%;
    position: absolute;
    bottom: 5px;
}


.tooltip{
    opacity: 1;
}

.left, .right{
        float:left;
    }

    .left{
        position:relative;
        background: green;
        min-width: 30%;
        width: 30%;
        height: 100vh;
        transition: width 0.5s ease-in-out ;/*1s for smooth, 0s for neat*/
        overflow: hidden;
    }

    .right{
        position: relative;
        background: blue;
        min-width: 30%;
        width: 70%;
        height: 100vh;
        transition: width 0.5s ease-in-out; /*1s for smooth, 0s for neat*/
        overflow: hidden;
    }

    .left:hover{
        width: 70%;
    }

    .left:hover + .right{
        width: 100px;
    }
