
html, body, .container-fluid {
    height:100%;
    background-color: black;
}
.container-fluid {
    width: 100%;
    box-sizing: border-box;
}

.modal-title{
    color: #e9ecef;
}

.modal-content{
    background-color: black;
}

.carousel-img{
    height: 250px;
    width: 250px;
    margin: 0 auto;
}
.carousel-caption{
    position: relative;
    right: 0;
    bottom: 0;
    left:0;
    padding-bottom: 40px;
}

.

#mainRow, #leftPanel, #rightPanel{
    height: 100%;
}

svg {
    height: 100%;
    width: 100%;
}


path.spiral {
    fill: none;
    stroke: #000000;
    stroke-width: 3px;
}

.left, .right{
        float:left;
    }

    .left{
        background: green;
        min-width: 30%;
        width: 30%;
        height: 100vh;
        transition: width 0.5s ease-in-out ;/*1s for smooth, 0s for neat*/
        overflow: hidden;
    }

    .right{
        background: blue;
        min-width: 30%;
        width: 70%;
        height: 100vh;
        transition: width 0.5s ease-in-out; /*1s for smooth, 0s for neat*/
        overflow: hidden;
    }

    .left:hover{
        width: 70%;
    }

    .left:hover + .right{
        width: 100px;
    }
